body{
  font-size: 1.4rem;
  font-family: "PT Sans",Arial,sans-serif;
  width: 1200px;
  margin: 0 auto;
}
a{
  display: flex;
  color: #004b93;
  text-decoration: none;
  border: none;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
h1{
   text-align: center;
}
h2{
   text-align: center;
}
p{
  padding: 0;
  margin: 0;
  text-indent: 20px;
}
span{
}
/* ----header---- */
.header{
  height: 200px;
  width: 1200px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.conteiner{
 width: 1200px;
}

/* ----nav---- */
.nav{
  display: flex;
}
.link{
  width: 33.333333%;

  }
.subnav{
  display: flex;

  border-radius: 5px;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  z-index: 1000;

}
.name{
  height:  30px;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #004b93;
  background-color: #9cf0e7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.subnav_ul{
  display: none;
  font-size: 15px;
  padding: 5px;
  text-align: left;


}
.link:hover .subnav_ul{
  display: block;

}
.img{
  margin: 5px;
  width: 15px;
  height: 15px;
}

/* ----content---- */
.content{
  display: block;
  padding-top: 50px;
  width: 1200px;
  border-radius: 50px 50px 0px 0px;
  margin: 0 auto;
}
.menu{
  font-size: 20px;
  color: white;
  width: 100%;
  background-color: #004b93;
  border-radius:500px 500px 0px 0px;
}
.menu-2{
  font-size: 20px;
  height: 50px;
  color: white;
  width: 100%;
  background-color: #004b93;
  border-radius: 0px 0px 500px 500px;
}
.Shaverma{
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
 justify-content:;
}
.Shaverma_blok{
  display: block;
  width: 20%;
  margin: 0 auto;
}
.foto{
  padding: 0 11px;
  border-radius: 5px;
  width: 220px;
  height: 207px;
  justify-content: center;

}
.Shaverma_name{
  padding-top: 0px;
  font-size: 15px;
}
.drink{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;

  color: white;
  width: 100%;
  text-align: center;

  background-color: #004b93;
}

/* ----drink---- */
.drink_foto{

  padding: 0 11px;
  border-radius: 5px;
  width: 120px;
  height: 100%;
  justify-content: center;
}



.text_bot{
  padding: 20px 0;
}
